modules = ["web", "python-3.12", "nodejs-20"]
run = "pip install -r requirements.txt"

[nix]
channel = "stable-24_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libmysqlclient", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[deployment]
run = ["sh", "-c", "pip install -r requirements.txt"]
