{% extends "base.html" %}
{% block content %}
<h2>Trial Balance</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Account</th>
            <th>Type</th>
            <th>Debit</th>
            <th>Credit</th>
        </tr>
    </thead>
    <tbody>
        {% for row in balances %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.code }}</td>
            <td>
                {% if row.debits > 0 %}
                    ${{ "%.2f"|format(row.debits) }}
                {% endif %}
            </td>
            <td>
                {% if row.credits > 0 %}
                    ${{ "%.2f"|format(row.credits) }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
