{% extends 'base.html' %}
{% block content %}
<h2>Coaches</h2>
<a href="{{ url_for('coaches.edit_coach') }}" class="btn btn-success mb-2">Add Coach</a>
<br>
<input type="text" id="search" onkeyup="filterByName(1)" placeholder="Search for names..">
<table class="table table-striped" id="filteredTable">
  <thead>
    <tr>
      <th>Photo</th>
      <th onclick="sortTable(1)">Name</th>
      <th onclick="sortTable(2)">Email</th>
      <th onclick="sortTable(3)">Phone</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for coach in coaches %}
    <tr>
    <!-- thumbnails are 100x100 -->
      <td>{% if coach.coach.photo %}<img src="{{ url_for('coaches.get_thumbnail', coach_id=coach.coach.id) }}" width="80">{% endif %}</td>
      <td>{{ coach.first_name }} {{ coach.last_name }}</td>
      <td>{{ coach.email or "" }}</td>
      <td>{{ coach.phone or "" }}</td>
      <td>
        <a href="{{ url_for('coaches.edit_coach', user_id=coach.id) }}" class="btn btn-sm btn-primary">Edit</a>
      </td>
    </tr>
    {% else %}
    <tr><td colspan="5">No coaches found.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
