<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Baseball League</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('welcome') }}">Baseball League</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('players.list_players') }}">Players</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('parents.list_parents') }}">Parents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('coaches.list_coaches') }}">Coaches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('seasons.list_teams') }}">Teams</a>
            </li>
            <li class="nav-item">
            <!--  Settings -->
              <a class="nav-link" href="{{ url_for('seasons.levels_fees') }}">Levels and Fees</a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Accounting</a>
                <ul class="dropdown-menu">
		            <!--  Accounting -->
		            <li class="nav-item">
		              <a class="nav-link" href="{{ url_for('ledger.chart_of_accounts') }}">Chart of Accounts</a>
		            </li>
		            <li class="nav-item">
		              <a class="nav-link" href="{{ url_for('ledger.make_sale') }}">Make Sale</a>
		            </li>
		            <li class="nav-item">
		              <a class="nav-link" href="{{ url_for('ledger.receive_payment') }}">Receive Payment</a>
		            </li>
		            <li class="nav-item">
		              <a class="nav-link" href="{{ url_for('ledger.open_invoices') }}">Open Invoices</a>
		            </li>
		            <li class="nav-item">
		              <a class="nav-link" href="{{ url_for('ledger.trial_balance') }}">Trial Balance</a>
		            </li>
	            </ul>
            </li>
            
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('seasons.change_season') }}">Season : {{ current_season_name }}</a>
            </li>
            {% if current_user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                  {{current_user.first_name}}
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
                </ul>
              </li>
             {% else %}
                <a class="nav-item nav-link" href="{{ url_for('auth.login_page') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">Register</a>
            {% endif %}
          </ul>
        </div>
  </div>
</nav>
<main class="mb-auto mt-5 pt-3">

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-3">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

  <div class="container">
        {% block content %}{% endblock %}
  </div>
</main>
<footer class="bg-light text-center text-lg-start mt-4 ">
  <div class="text-center p-3">
    <p>&copy; {{ current_year }} NE Baseball League. All rights reserved.</p>
  </div>
</footer>
<script src="{{ url_for('static', filename='layout.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>