{% extends 'base.html' %}
{% block content %}
<h2>Coaches</h2>
<a href="{{ url_for('edit_coach') }}" class="btn btn-success mb-2">Add Coach</a>
<br>
<input type="text" id="search" onkeyup="filterByName(1)" placeholder="Search for names..">
<table class="table table-striped" id="filteredTable">
  <thead>
    <tr>
      <th>Photo</th>
      <th onclick="sortTable(1)">Name</th>
      <th onclick="sortTable(2)">Email</th>
      <th onclick="sortTable(3)">Phone</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for coach in coaches %}
    <tr>
    <!-- TODO: thumbnails will be 128x128 is width=80 correct?-->
      <td>{% if coach.photo %}<img src="{{ url_for('get_thumbnail', coach_id=coach.id) }}" width="80">{% endif %}</td>
      <td>{{ coach.name }}</td>
      <td>{{ coach.email or "" }}</td>
      <td>{{ coach.phone or "" }}</td>
      <td>
        <a href="{{ url_for('edit_coach', id=coach.id) }}" class="btn btn-sm btn-primary">Edit</a>
      </td>
    </tr>
    {% else %}
    <tr><td colspan="5">No coaches found.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
