{% extends 'base.html' %}
{% block content %}
<h2>Create a new season with teams from season '{{ current_season.season_name }}'</h2>
<form method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

  <div class="mb-3">
    <label for="season_name" class="form-label">Season Name</label>
    <input type="text" name="season_name" class="form-control" placeholder="ie. 2025 Spring"  required />
  </div>

  <div class="mb-3">
    <label for="base_date" class="form-label">Baseball Date</label>
    <input type="date" name="base_date" class="form-control" placeholder="2025-05-01" required />
  </div>

<h3> The following teams will be copied. (TODO: Copying only coaches, should it copy also players?)</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Selected</th>
      <th>Team Name</th>
      <th>Season</th>
      <th>Coaches</th>
    </tr>
  </thead>
  <tbody>
    {% for team in current_season.teams %}
    <tr>
      <td><input type="checkbox" id="copyteams" name="copyteams" value="{{ team.id }}" checked></td>
      <td>{{ team.teamName }}</td>
      <td>{{ team.season.season_name }}</td>
      <td>
        {% for coach in team.coaches %}
          {{ coach.name }} {% if not loop.last %}, {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% else %}
    <tr><td colspan="5">No teams found.</td></tr>
    {% endfor %}
  </tbody>
</table>


  <button type="submit" class="btn btn-primary">Create Season</button>
  <a href="{{ url_for('list_teams') }}" class="btn btn-secondary">Cancel</a>
</form>

{% endblock %}
