{% extends 'base.html' %}
{% block content %}
<h2>Edit Level</h2>
<form method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input type="hidden" name="id" value="{{ level.id or '' }}">
  <div class="mb-3">
    <label for="level_name" class="form-label">Level Name</label>
    <input type="text" name="level_name" class="form-control" value="{{ level.level_name or '' }}" required />
  </div>
  <div class="mb-3">
    <label for="target_age" class="form-label">target age</label>
    <input type="number" name="target_age" class="form-control" value="{{ level.target_age }}" required />
  </div>
  <!-- FIXME : number doesn't allow cents to be specified.  It only allows .00 right now -->
  <div class="mb-3">
    <label for="registration" class="form-label">Registration fee</label>
    <input type="number" name="registration" class="form-control" value="{{ level.registration}}" required />
    <div class="invalid-feedback">
      Please enter a valid currency amount (e.g., $1,234.56).
    </div>
  </div>
  <div class="mb-3">
    <label for="team_fee" class="form-label">Team fee</label>
    <input type="number" name="team_fee" class="form-control" value="{{ level.team_fee}}" required />
    <div class="invalid-feedback">
      Please enter a valid currency amount (e.g., $1,234.56).
    </div>
  </div>
  <div class="mb-3">
    <label for="uniform" class="form-label">Uniform cost</label>
    <input type="number" name="uniform" class="form-control" value="{{ level.uniform}}" required />
    <div class="invalid-feedback">
      Please enter a valid currency amount (e.g., $1,234.56).
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
  <a href="{{ url_for('seasons.levels_fees') }}" class="btn btn-secondary">Cancel</a>
</form>


{% endblock %}
