{% extends 'base.html' %}
{% block content %}
<h2>Teams</h2>
<a href="{{ url_for('seasons.edit_team') }}" class="btn btn-success mb-2">Add Team</a>
<a href="{{ url_for('seasons.create_new_season') }}" class="btn btn-success mb-2">Create New Season</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Level</th>
      <th>Team Name</th>
      <th>Season</th>
      <th>Coaches</th>
      <th>Players</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for team in teams %}
    <tr>
      <td>{{ team.level.level_name }}</td>
      <td>{% if team.logo != "": %}{{team.logo}}{% endif %}{{ team.team_name }}</td>
      <td>{{ team.season.season_name }}</td>
      <td>
        {% for coach in team.coaches %}
          {{ coach.user.first_name }} {{ coach.user.last_name }} {% if not loop.last %}, {% endif %}
        {% endfor %}
      </td>
      <td>{{ team.players|length }}</td>
      <td><a href="{{ url_for('seasons.edit_team', team_id=team.id) }}" class="btn btn-sm btn-primary">Edit</a></td>
    </tr>
    {% else %}
    <tr><td colspan="5">No teams found.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
